
.feedback-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #95a7b0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .feedback-heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #dcdeaf;
  }
  
  .feedback-section {
    margin-bottom: 20px;
    color: #444;
  }
  
  .feedback-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
  }
  
  .feedback-section p {
    font-size: 1em;
    margin: 0;
    line-height: 1.6;
    color: #444;

  }
  
  .feedback-section:last-child {
    margin-bottom: 0;
  }
  .feedback-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feedback-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .feedback-content {
    margin-top: 20px;
  }
  
  .feedback-text {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
  }
  
  .no-feedback {
    font-size: 18px;
    color: #777;
    text-align: center;
  }
  .feedback-content>p {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  